In [64]:
'''This program splits the original data <student_log.csv> into two parts: the learning set and the predicting set.'''
import numpy as np
import pandas as pd
import os
#Load data
student_stat = pd.read_csv('./data/studentstat.csv', dtype={'id_student':np.uint32, 'n_records': np.uint16})
student_stat = student_stat.set_index('id_student')
student_stat.head()

            n_records avg_score
id_student
6516              662   61.8000
8462              304   87.0000
11391             196   82.0000
23629              59   82.5000
23698             305   74.4444

In [65]:
#Prepare student_stat
student_stat['count'] = student_stat['n_records'].map(lambda x: int(x*0.8))
student_stat.head()

            n_records avg_score  count
id_student
6516              662   61.8000    529
8462              304   87.0000    243
11391             196   82.0000    156
23629              59   82.5000     47
23698             305   74.4444    244

In [66]:
student_log = pd.read_csv('./data/studentlog.csv', 
                          dtype={'id_student':np.uint32, 'id_site': np.uint32, 'date': np.int16, 'sum_click':np.uint8})
#student_log = student_log.set_index()
student_log.head()

   id_student  id_site  date  sum_click activity_type
0       28400   546652   -10          4       forumng
1       28400   546652   -10          1       forumng
2       28400   546652   -10          1       forumng
3       28400   546614   -10         11      homepage
4       28400   546714   -10          1     oucontent

In [67]:
student_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10655280 entries, 0 to 10655279
Data columns (total 5 columns):
id_student       uint32
id_site          uint32
date             int16
sum_click        uint8
activity_type    object
dtypes: int16(1), object(1), uint32(2), uint8(1)
memory usage: 193.1+ MB

In [68]:
#Create two sets
student_train_indexes = []
student_test_indexes = []

In [69]:
#splitting the data set
for row_index,row in student_log.iterrows():
    stid = row['id_student']
    if student_stat.loc[stid,'count']>0:
        student_train_indexes.append(row_index)
        student_stat.loc[stid,'count']-=1
    else:
        student_test_indexes.append(row_index)  
print('train records:', len(student_train_indexes))
print('test records:', len(student_test_indexes))

train records: 8513690
test records: 2141590

In [70]:
student_test = student_log.take(student_test_indexes)

In [71]:
student_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2141590 entries, 6005 to 10655279
Data columns (total 5 columns):
id_student       uint32
id_site          uint32
date             int16
sum_click        uint8
activity_type    object
dtypes: int16(1), object(1), uint32(2), uint8(1)
memory usage: 55.1+ MB

In [72]:
student_test.to_csv('./data/student_test.csv')

In [73]:
student_train = student_log.take(student_train_indexes)
student_train.to_csv('./data/student_train.csv')

In [74]:
student_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8513690 entries, 0 to 10654099
Data columns (total 5 columns):
id_student       uint32
id_site          uint32
date             int16
sum_click        uint8
activity_type    object
dtypes: int16(1), object(1), uint32(2), uint8(1)
memory usage: 219.2+ MB